.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Faz a página ocupar a altura total da viewport */
    background-color: var(--preto);
    color: var(--azul);
}

.p{
    font-family: "Nunito", sans-serif;
}

.container-fluid{
    flex: 1;
}